extend default

block content
  p.
    My name is Byron Lambrou, and I'm a software developer. I enjoy programming primarily in Python, and C/C++. This site is a centralized source for any writing and coding I do.
  p.
    I have worked in various fields, from software development, to IT, to industrial energy auditing. Check out the link to my github page above, as well as my Linkedin, if you want to see further examples of my work, or find out more about my work experience. 